<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Foods</title>
</head>
<body>

    <!-- login form -->
    <div class="container" id="login">

        <form action="" id="loginForm">
            <label for="">email</label>
            <input type="text" id="emailLogin">

            <label for="">password</label>
            <input type="password" id="passwordLogin">

            <button type="submit">login</button>
        </form>
    </div>

    <!-- tabel -->
    <table class="container" id="table">
       <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Ingredients</th>
          <th>Tag</th>
          <th>Option</th>
      </tr>
      <tr id="appendTable">

      </tr>
      <!-- isian tabel -->
    </table>

    <!-- add form -->


    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
    <script src="./assets/main.js"></script>
</body>
</html>